<div class ="header">  
  <div class="row">
    <h1>Terms of Service</h1>
    <p>Please accept 'em</p>
  </div>
</div>
<div class="row">
 <%= render 'layouts/messages' %>
</div>
<div class="row">

<% if current_user.tosdate.nil? %>
<h3>Before continuing, please accept our Terms of Service.</h3>
<% else %>
<h3>Our Terms have been updated - please accept them again.</h3>
<% end %>

<textarea rows="20">
Last Updated: April 7, 2014

These Terms and Conditions (the “Terms”) set out the conditions under which 101 Group Ltd and its affiliates (hereinafter, “101DX" or "We”) offer you use of the 101 Digital Exchange website (the "Site") and access to the 101 Digital Exchange Service (the “Service”).

ACCEPTANCE OF TERMS OF USE
By using this Site, and further by registering to use our Service, you ("You", "Your" or "Yourself") are agreeing to accept and comply with the terms and conditions of use stated below ("Terms of Use"). You should read the entire Terms of Use carefully before you use this web site ("Site") or any of the services of this Site.

IF YOU DO NOT ACCEPT THE TERMS OF USE AND CONDITIONS OUTLINED IN THIS AGREEMENT, YOU MAY NOT ACCESS THIS SITE AND MAY NOT USE THIS SERVICE.
Depending on your country of residence, You may not receive access to all the functions of the Site.

By opening an account to use the Service ("Account"), You expressly represent and warrant:

You have accepted these Terms; and
You are at least 18 years of age and have the full legal capacity to accept these Terms and enter into a financial transaction.
RISKS
The trading of currencies involves significant risk. Virtual Currencies are volatile, and the value of your holdings may increase or decrease quickly. The relative value of Virtual Currencies are not guaranteed by any government. Therefore, any virtual currency is worth only what another member is willing to pay for it. Your coins may become worthless.

A ready market for one more virtual currencies may not exist at the time you wish to sell or buy. You may be forced to hold coins if there is no ready buyer, and you may not be able to purchase coins if there is no ready seller.

NO FINANCIAL ADVICE
101DX does not provide financial advice as to the suitability of any purchase or investment. Nothing on this site shall be construed as offering advice of any type.

COPYRIGHT
©101 Group Ltd. All rights reserved. No part of the Web site or the Service may be reproduced, modified, distributed, published, sold, licensed, broadcasted, retransmitted, circulated in any form or used in any way without the prior written consent of 101DX.

YOUR ACCOUNT
You are responsible for maintaining the confidentiality of your Account information, including your password, and for all activity including Transactions that occur under your Account. 101DX provides certain account security enhancements such as two factor authentication, and you are strongly encouraged to make use of these features. You agree to notify 101DX immediately of any unauthorized use of your Account or password, or any other breach of security by opening a support request at http://support.101.net. You will be held liable for losses incurred by 101DX or any other user of the Site due to someone else using your password or user account. You shall not use any Account other than your own or access the Account of another Member at any time. Members may not attempt to gain unauthorized access to the Site, and any attempt to do so or to assist others (Members or otherwise) to do so, or distribution of instructions, software or tools for that purpose, will result in the Accounts of such Members being terminated without prejudice.

You may only have one Account at any one time and may not create or use any Account other than your own. To be exempt from any of these rules, you must request express and prior permission from 101DX. The creation or use of Accounts without obtaining such prior express permission from the Service will lead to the immediate suspension of all said Accounts, as well as all pending purchase/sale offers.

101DX will request identification information (such as an identity card, invoices, Government issued photographic identification, utility bill, residential certificate, signed certification of cohabitation, or similar, banking information) depending on the amounts deposited on the Accounts or the presence of suspicious activity which may indicate money-laundering or other illegal activity. Identification of the bank account from which funds are transferred to the Account may also be requested. In certain cases notarization of certain documents (including apostille) may be requested. Transactions may be frozen until the identity check has been considered satisfactory by 101DX as required by applicable money laundering laws. 101DX may request additional identification information at any time at the request of any competent authority or by application of any applicable law or regulation.

You agree to provide 101DX with accurate, current and complete information about yourself as required by the registration process, and keep such information updated promptly upon any change.

Accounts may be used strictly for the purposes defined in these Terms.

BUG REPORTING & BOUNTY
You will not exploit, distribute or publicly communicate any System error, miscue or bug which gives an unintended advantage within the System, but rather will report any error, miscue or bug you find that provides an unintended advantage. 101DX may at its discretion award a bounty for the discovery of the bug.

TERMINATION
You may terminate this agreement and close your Account at any time, subject to settlement of any pending transactions.

These Terms may be terminated without reason by either party providing the other with reasonable prior notice, receipt of which shall be promptly acknowledged in writing by the other party. Such termination will be effective when the terminating party receives the acknowledgment in writing of its notice to terminate from the other party. Such termination shall not affect the obligations or rights of either party under these Terms which had accrued prior to the notice of termination, nor the Transactions and its related obligations and rights concluded before such termination was effective.

You also agree that 101DX may, in its sole discretion by giving notice, terminate Your access to the Site and your Your Account, including without limitation: limit, suspend or terminate the service and Accounts, prohibit access to the Site and its content, services and tools, delay or remove hosted content, and take technical and legal steps to keep You off the Site if in our sole judgement you are causing possible legal liabilities, infringing the intellectual property rights of third parties, or acting inconsistently with the letter or spirit of these Terms. Additionally, we may, in appropriate circumstances and at our discretion, suspend or terminate your Account for any reason, including without limitation: (1) attempting to gain unauthorized access to the Site or another Member’s account or providing assistance to others in attempting to do so, (2) overcoming software security features limiting use of or protecting any content, (3) using of the Service to perform illegal activities such as money laundering, terrorism financing or other criminal activities, (4) violating of these Terms, (5) failing to pay or fraudulent payment for Transactions, (6) causing unexpected operational difficulties, or (7) by the request of law enforcement or other government agencies.

We also reserve the right to cancel unconfirmed Accounts or Accounts that have been inactive for a period of 6 months or more, or to modify or discontinue our Site or Service. You agree that 101DX will not be liable to you or to any third party for termination of your Account or access to the Site.

You acknowledge and agree that your Account may be suspended until until provide 101DX with documents evidencing their identity and/or any other information that 101DX deems necessary to secure the Accounts, the Transactions and/or the Service. Furthermore, you agree that 101DX shall not be liable for any real or potential loss due to exchange rate fluctuations while your account is suspended.

The suspension of an Account has consequences for the future and shall not affect the payment of the commissions due for past Transactions. Therefore, despite the Account having been suspended for whatever reason under these Terms, you must still pay the Commission(s) which were due before the date of suspension.

Upon termination, you shall notify 101DX with account details of a valid bank account, to allow for the transfer of the currencies held on your account. You must be a signatory on said account, and the account must be located in the same country from which funds initially originated (and in the case where funds originated from several countries, transfers shall be possible only to a valid bank account from which significant funds originated). Cryptocoins may be transferred to a valid bank account only after conversion into a currency. 101DX shall exercise reasonable efforts in transferring your currencies as soon as possible following your request provided, however, that any transaction fees levied by any bank intervening between the paying bank and the receiving bank (including the paying bank and the receiving bank) shall be deducted from the currencies transferred.

AVAILABILITY
101DX shall use reasonable measures to ensure that You can access the Service in accordance with these Terms of Use. Targetted uptime is 99.95% measured monthly.

We may suspend use of the Site for maintenance and will make reasonable efforts to give you notice. In the event of planned or unplanned service outages 101DX will communicate via the Twitter account @101dotnet. You acknowledge that this may not be possible in an emergency.

This Service and Site are provided without warranty of any kind, either express or implied. There are no guarantees that access will not be interrupted, or that there will be no delays, failures, errors, omissions or loss of transmitted information.

EXTERNAL WEBSITES / THIRD PARTY LINKS
Links contained on this site, or available via this site, are provided solely as a convenience and do not constitute an endorsement by 101DX of the content, policies or products of the external linked site. 101DX does not control the external linked sites, and is not responsible for the accuracy, legality or content of the external linked sites or for that of subsequent links. Links and site content may change without notice. Anyone using the links does so at their own risk. Contact the external site for answers to questions regarding its content.

GOVERNING LAW AND JURISDICTION
All matters relating to your access to or use of the Web site or the Content shall be governed by the laws of Belize, notwithstanding conflict of laws principles. You agree and hereby submit to the non-exclusive jurisdiction of the courts of Belize with respect to all matters relating to your access to and use of the Web site.

LIMITATION OF LIABILITY
To the extent permitted by law, 101DX will not be held liable for any damages, loss of profit, loss of revenue, loss of business, loss of opportunity, loss of data, indirect or consequential loss unless the loss suffered arising from negligence or willful deceit or fraud. Nothing in these terms excludes or limits the liability of either party for fraud, death or personal injury caused by its negligence, breach of terms implied by operation of law, or any other liability which may not by law be limited or excluded.

Subject to the foregoing, 101DX's aggregate liability in respect of claims based on events arising out of or in connection with any single Member's use of the Site and/or Service, whether in contract or tort (including negligence) or otherwise, shall in no circumstances exceed the greater of either (a) the total amount held on Account for the Member making a claim less any amount of Commission that may be due and payable in respect of such Account; or (b) 110% of the amount of the Transaction(s) that are the subject of the claim less any amount of Commission that may be due and payable in respect of such Transaction(s).

INDEMNITY
To the full extent permitted by applicable law, You hereby agree to indemnify 101 Group Ltd., and its partners against any action, liability, cost, claim, loss, damage, proceeding or expense suffered or incurred if direct or not directly arising from your use of 101DX's Sites, Your use of the Service, or from your violation of these Terms of Use.

MISCELLANEOUS
If 101DX is unable to perform the Services outlined in the Terms of Service due to factors beyond our control including but not limited to an event of Force Majeure, change of law or change in sanctions policy we will not have any liability to You with respect to the Services provided under this agreement and for a time period coincident with the event.

MODIFICATION OF TERMS
101DX reserves the right to change, add or remove portions of these Terms, at any time, in an exercise of its sole discretion. You will be notified of any changes in advance through your Account. Upon such notification, it is your responsibility to review and accept the amended Terms. Your continued use of the Site following the posting of a notice of changes to the Terms signifies that you accept and agree to the changes, and that all subsequent transactions by you will be subject to the amended Terms.

DEFINITIONS
Bitcoin(s) means the Peer-to-Peer internet currency further described at bitcoin.org.

Buyer(s) means Member(s) that are submitting an offer to buy crypto currency through the Service.

Commission refers to the fee which is payable to 101DX on each Transaction, such as a Bitcoin Purchase Transaction.

Crypto Coin(s), Crypto Currency(ies), Virtual Currency(ies), altcoin(s) means any cryptographically based value transfer or currency system, as supported by the 101DX Service. This includes Bitcoins, Litecoins, Dogecoins, and other coins as added to the 101DX Service.

Member(s) means Buyers and Sellers as well as any holder of an Account.

Price means "price per coin" for which Members are willing to purchase or sell Virtual Currency, using the Service in a Purchase Transaction. The Price may be expressed in any of the currencies deposited by Members in their account and supported by the Service. See our Site for a full list of currencies.

Seller(s) means Member(s) that are submitting an offer to sell Real or Virtual Currency through the Service.

Service(s) means the technological platform, functional rules and market managed by 101DX. to permit Sellers and Buyers to perform purchase and sale transactions of Virtual Currency.

Site means the website at https://www.101.net and related domains and subdomains, included by not limited to http://support.101.net.

Transaction means (i) the agreement between the Buyer and the Seller to exchange Virtual Currency through the Service at a commonly agreed rate ("Purchase Transaction"), (ii) the conversion of currencies into Virtual Currency deposited by Members on their account ("Conversion Transaction"), (iii) the transfer of Virtual Currency among Members ("Virtual Currency Transfer Transaction"), (iv) the transfer of currencies among Members ("Currency Transfer Transaction") and (v) the purchase of ancillary products ("Purchase Transactions"). 101DX may not offer all of these types of transactions at this time or in all places.

Transaction Price means the total price paid by the Buyer in respect of each Transaction performed through the Service.
</textarea>

<%= form_for @tosdate, 
    :url => url_for(:action => 'tosupdate', :controller => 'dashboard'),
    :method => 'post' do |f| %>

<%= f.submit "I Accept the Terms of Service", class: "button"%>
  <% end %>
(Date will be recorded)
</div>