<h1>Editing crypto_address</h1>
<div class="row">
 <%= render 'layouts/messages' %>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:dashboard, @crypto_address] %> |
<%= link_to 'Back', [:dashboard, crypto_addresses_path] %>
