<div class ="header">  
  <div class="row">
    <h1>Create New Affiliate Code</h1>
  </div>
</div>
<div class="row">
 <%= render 'layouts/messages' %>
</div>

<div class = "row">
<%= render 'form' %>

<%= link_to 'Back', dashboard_aff_codes_path %>
</div>