<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Transaction Confirmed</h1>
    <p>Your deposit with transaction id <a href="http://btc.blockr.io/tx/info/<%= @txid %>"><%= @txid %></a>in the amount of <%= @amount %> has been confirmed. The funds are now clear for trading.</p>
  <p>Thanks again from 101.net</p>
  </body>
</html>